  .nav{
    font-style: italic;
    margin: 1;
    padding: 5;
    overflow: hidden;
    background-color: rgb(204, 184, 221);   
    font-weight:400 ;
    font-size: x-large;
        
  } 
  
  .links {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  
  }
  .activeClass {
    color: rgb(64, 147, 168);
    
  };



 

  