
.App{
  display: flex;
}
.title{
  color: rgb(141, 24, 141);
  text-align: center;
  font-weight: 400;
  font-size:xx-large;
  
}
.formC{
  margin-left: 5rem;
  align-items: center;   
  justify-content: center;
  

}